@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    padding: 0px;
    margin:0px;
}

#top{
    width: 100%;
    background-color: #222222;
    height: 80px;
}
#center{

}
#center #bemvindo{
    width: 100%;
    height: auto;

}

/* #center #bemvindo:hover{
    margin:-100px auto;
   transform: scale(0.6);
} */

#center #bemvindo #banner img{
    margin:0px auto;
}

#center #bemvindo #mensagens{
    width: 800px;
    text-align: center;
    line-height: 40px;
    height: 120px;
    margin:0px auto;
    font-weight: 900;
    color:#262626;
    font-family: 'Roboto';
    font-style: normal;
}
#center #boxFazerLogin{
    width: 800px;
    margin:0px auto;
    border-top:3px solid #858585;
    font-family: 'Roboto';
    font-style: normal;
}

#center #btnPaginaInicial{
    margin-top:40px;
    width:300px;
    height:60px;
    line-height: 45px;
    background-color:#9398C1;
    font-weight: bold;
    font-size:22px;
    font-family: 'Roboto';
    font-style: normal;
    border:0px;
}

#center #loginBox{
    margin: 0;
    position: absolute;
    top:520px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 800px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    opacity: 0%;
    transition: opacity 1s;
}
#center #loginBox input{
    width: 350px;
    height: 45px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    color: #222222;
    border-radius:5px;
    border:2px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
}
#bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #222222;
    height: 80px;
}
#bottom #copyright{
    color:white;
    font-size:22px;
    font-style: normal;
    font-weight: 100;
    line-height: 70px;
}
#btnFazerLogin{
    background-color:#474FFF;
}

