<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <title>PATS</title>

</head>
<body>
    <div id="top">
    </div>
    
    <div id="center">
        <div id="bemvindo">
            <div id="banner">
                <center>
                    <img src="images/maquina_esquerda.png" width="300" style="opacity: 30%;" height="300">
                    <img src="images/logo_central.png" width="400" style="opacity: 70%;margin:60px 150px 50px 150px" height="400">
                    <img src="images/maquina_direita.png" width="300" style="opacity: 30%;" height="300">
                </center>
            </div>

            <div id="mensagens">
                <div id="nomeEmpresa"><h1 style="font-size:50px">$(NOME DA EMPRESA)</h1></div>
                <div id="subtitulo"><h3>Ponto Eletronico<h3></div>
            </div>
        </div>
        
        <div id="loginBox">
            <input type="email" id="id" name="Codigo" placeholder="CÓDIGO DO EMPREGADOR" value="1"/>
		    e
            <input type="password" id="pin" name="Pin" placeholder="PIN" value="123456"/>
        </div>

        <center>
            <div id="boxFazerLogin">
                <button id="btnFazerLogin" class="btn btn-primary" type="submit">FAZER LOGIN</button>
            </div>
        </center>
    </div>

    <div id="bottom">
        <center>
            <div id="copyright">Desenvolvido por PAT'S</div>
        </center>
    </div>   
</body>
</html>